<section class="box-form">
    <h3 class="box__title">NOWY PRACOWNIK</h3>
    <div class="box__info">
    <form class="box__form" action="/form" method="POST">
        <div class="box__form-row">
            <input class="box__form-input" id='list_name'  type="text" name='list_name' placeholder="Imię" value="{{list.Name}}"/>
            <input class="box__form-input" id='list_surname' name='list_surname' type="text" placeholder="Nazwisko" value="{{list.Surname}}"/>
            <input class="box__form-input" type="hidden" type="text" name="_id" value="{{list._id}}"/>
        </div>
        <div class="box__form-row">
            <input class="box__form-input" id="list_adres" name="list_adres"  type="text" placeholder="Adres" value="{{list.Adres}}"/>
            <input class="box__form-input" id="list_age" name="list_age"  type="number" placeholder="Wiek" value="{{list.Age}}"/>
        </div>
        <div class="box__form-row">
            <input class="box__form-input" id="list_workplace" name="list_workplace"  type="text" placeholder="Stanowisko"    value="{{list.WorkPlace}}"/>
            <input class="box__form-input" id="list_spec"      name="list_spec"       type="text" placeholder="Specjalizacja" value="{{list.Specialization}}"/>
        </div>
        <div class="box__form-buttons">
            <button class="box__form-btn">Wyczyść</button>
            <button class="box__form-btn" type="submit">Dodaj</button>
            <button class="box__form-btn" type="button"> <a href="/table">Tabela</a></button>
        </div>
    </form>
</div>
    <div class="box__photo"></div>
</section> 