<section class="box-search">
    <form action="/table" method="GET">
    <div class="search-row">
        <label class="search-title">Wyszukaj w polu:</label>
        <select name="field">
            <option value="Name">Imię</option>
            <option value="Surname">Nazwisko</option>
            <option value="WorkPlace">Stanowisko</option>
            <option value="Specialization">Specjalizacja</option>
        </select>
    </div> 
    <div class="search-row"> 
        
        <input class="form-input" type="text" id="query" name="query" placeholder="Wprowadź zapytanie...">
        <input class="button" type="submit" value="Szukaj"/>
    </div>
    </form>  
</section>

<h1>Lista pracowników</h1>
<div class="box-table">
<table class="box__table">
    <thead class="box__table-header">
        <tr class="box__table-row">
            <th class="box__row-title">Imię</th>
            <th class="box__row-title">Nazwisko</th>
            <th class="box__row-title">Adres</th>
            <th class="box__row-title">Wiek</th>
            <th class="box__row-title">Stanowisko</th>
            <th class="box__row-title">Specjalizacja</th>
            <th class="box__row-title">Opcje</th>
        </tr>
    </thead>
    <tbody class="box__table-body">
        {{#each list}}
        <tr class="box__table-row">
            <td class="box_table-cell">{{this.Name}}</td>
            <td class="box_table-cell">{{this.Surname}}</td>
            <td class="box_table-cell">{{this.Adres}}</td>
            <td class="box_table-cell">{{this.Age}}</td>
            <td class="box_table-cell">{{this.WorkPlace}}</td>
            <td class="box_table-cell">{{this.Specialization}}</td>
            <td class="box_table-cell">
                <div class="box_table-buttons">
                    <a class="link" href="/form?id={{this._id}}"> <i class="fas fa-user-edit"></i></a>
                    <a class="link" href="/form-delete?id={{this._id}}"><i class="fas fa-trash"></i></a>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

</div>
<div>
    <p>Strona: {{page}} , Liczba Pracowników: {{count}} </p>
</div>
<a href="?sort=1">A-Z</a>
<a href="?sort=-1">Z-A</a>
<a href="?sort={{sort}}&page={{prevPage}}">&lt;&lt;</a>
<a href="?sort={{sort}}&page={{nextPage}}">&gt;&gt;</a>

<button class="box__form-btn" type="button"> <a href="/form">Dodaj Pracownika</a></button>
<button class="box__form-btn" type="button"> <a href="/table">Reset</a></button>







